<h2 class="left"><%= appointment.client_name_last_comma_first %></h2>
<h2 class="right">Apt #<%= appointment.id %></h2>
<div class="clear"></div>
<div class="right">
	<p class="right">Created on: <%= appointment.created_at.to_formatted_s(:standard) %></p><br />
	<p class="right">Requested for: <%= appointment.request_date.strftime("%A, %B %d, %Y") unless appointment.request_date.blank? %></p>
</div>
<div class="left">
	<div class="contact-info left">
		<p><%= appointment.street %></p>
		<p><%= appointment.city %></p>
		<p><%= appointment.postal_code %></p>
		<p><%= appointment.county %></p>
		<p><%= mail_to(h(appointment.email)) unless appointment.email.blank? %></p>
		<p><%= formatted_phone(appointment.phone) %></p>
		<p><%= formatted_phone(appointment.alternate_phone) %></p>
	</div>
</div>
<div class="clear"></div>
<div class="pet-information">
	<h3>Pet Information</h3>
	<div class="left">
		<p><strong><%= appointment.pet_name %></strong> (<%= appointment.pet_type.capitalize %> / <%= appointment.breed %>)</p>
		<p><%= appointment.gender.humanize %>, Age: <%= appointment.age %> (DOB: <%= appointment.date_of_birth %>)</p>
		<% if appointment.weight.present? %>
			<p><%= appointment.weight %></p>
		<% end %>
		<p>Color: <%= appointment.color %></p>
	</div>
	<div class="right">
		<p><strong>Chip implant?</strong>
			<% if appointment.want_chip_implant? %>
				Yes
			<% else %>
				No
			<% end %>
		</p>
	</div>
	<div class="clear"></div>
</div>
<table class="appointment" cellpadding="1" width="100%">
  <tbody>
    <tr>
      <th>What is the best time to contact you?</th>
      <td><%= appointment.best_time_to_contact_client %></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th>Would you like a rabies vaccination?</th>
      <td><%= formatted_boolean(appointment.want_rabies_vaccination?) %></td>
    </tr>
    <tr>
      <th>Additional information</th>
      <td><%= appointment.comments %></td>
    </tr>
	<tr>
		<th>Acquired from?</th>
		<td><%= appointment.acquired_from %></td>
	</tr>
	<% if !(appointment.acquired_from_other_description.blank?)%>
		<tr>
			<th>Acquired from other description</th>
			<td><%= appointment.acquired_from_other_description %>
		</tr>
	<% end %>
	<tr>
		<th>Owned for how long?</th>
		<td><%= appointment.owned_for %>
	</tr>
	<tr>
		<th>Where does your pet live?</th>
		<td><%= appointment.where_pet_lives %></td>
	</tr>
	<tr>
		<th>Is pet tame?</th>
		<td><%= appointment.is_pet_tame == true ? "NO" : "yes" %></td>
	</tr>
    <tr>
      <th>Is your pet in heat?</th>
      <td><%= appointment.pet_in_heat %></td>
    </tr>
    <tr>
      <th>Is your pet pregnant?</th>
      <td><%= appointment.pet_pregnant %></td>
    </tr>
	<tr>
		<th>Has your pet had a litter?</th>
		<td><%= appointment.has_had_litter %></td>
	</tr>
    <tr>
      <th>When did your pet last have a litter?</th>
      <td><%= appointment.had_litter_when %></td>
    </tr>
    <tr>
      <th>Has your male pet's testicles descended?</th>
      <td><%= appointment.pet_testicles_descended %></td>
    </tr>
    <tr>
      <th>If so, how many?</th>
      <td><%= appointment.testicle_count %></td>
    </tr>
    <tr>
      <th>Has your pet been vaccinated?</th>
      <td><%= appointment.pet_vaccinated.humanize %></td>
    </tr>
	<tr>
		<th>Has your pet seen a vet?</th>
		<td><%= appointment.has_pet_seen_vet == 1 ? "no" : "yes" %></td>
	</tr>
    <tr>
      <th>Veterinarian's name</th>
      <td><%= appointment.vet_name %></td>
    </tr>
    <tr>
      <th>Any previous surgery? If so, please explain</th>
      <td><%= appointment.surgeries_explanation %></td>
    </tr>
    <tr>
      <th>Any previous health issues? If so, please explain</th>
      <td><%= appointment.health_concerns_explanation %></td>
    </tr>
    <tr>
      <th>Any medications? If so, please explain</th>
      <td><%= appointment.medications_explanation %></td>
    </tr>
  </tbody>
</table>