<div id="appointments_listing">
  <h2>Appointments</h2>
  <div class="search">
	   <%= form_tag search_appointments_path, :method => :get %>
		    <%= label_tag :last_name %>
		    <%= text_field_tag :last_name, params[:last_name], :size => 15 %>

		    <%= label_tag :county %>
		    <%= text_field_tag :county, params[:county], :size => 15 %>

		    <%= label_tag "Zipcode" %>
		    <%= text_field_tag :zip, params[:zip], :size => 10 %>

		    <span class="separator">|</span>
				<%= label_tag "Pet Type" %>
				<%= select_tag :pet_type, options_for_select(['', 'Cat', 'Dog']) %>
		    <span class="separator">|</span>

		    <label>Dates</label>
		    <%= text_field_tag :from, params[:from], :size => 11, :class => "date_picker" %>

		    <span>-</span>
		    <%= text_field_tag :to, params[:to], :size => 11, :class => "date_picker" %>
				<br />
		
				<%= label_tag "Age" %>
				<%= select_tag :age, options_for_select([['', nil], ['6 months & under', 1], ['Over 6 months', 2]]) %>
				
				<span class="separator">|</span>
				<%= label_tag "Pet Vaccinated?" %>
				<%= select_tag :pet_vaccinated, options_for_select([['', ''], ['Yes', 1], ['No', 0]]) %>
			
				<span class="separator">|</span>
				<%= label_tag "Seen a vet?" %>
				<%= select_tag :seen_vet, options_for_select([['', ''], ['Yes', 1], ['No', 0]]) %>
				
				<span class="separator">|</span>
				<%= label_tag "Status" %>
				<%= select_tag :status, options_for_select(['', 'PENDING', 'APPROVED', 'DENIED']) %>
				
				<span class="separator">|</span>
				<%= label_tag "Printed?" %>
				<%= select_tag :printed, options_for_select([['', ''], ['Yes', 1], ['No', 0]]) %>

		    <%= submit_tag "Search" %>
		  </form>
	  </div>
  <div class="search_statistics">
    Search returned <strong><%= number_with_delimiter(@search.count) %></strong> results: 
    <strong><%= @search.count(:conditions => {:pet_type => 'cat'}) %></strong> cats and 
    <strong><%= @search.count(:conditions => {:pet_type => 'dog'}) %></strong> dogs.
  </div>
  <% if @appointments.blank? %>
    <h3 class="no_data">There are no appointments matching the criteria you've selected.</h3>
  <% else %>
    <%= will_paginate @appointments %>
    <%= form_tag print_appointments_path %>
      <%= submit_tag "Print Selected" %>
      <table>
        <thead>
          <tr>
            <th> &nbsp; </th>
            <th> ID </th>
            <th> Client Name </th>
            <th> Phone </th>
            <th> Pet Name </th>
            <th> Pet Type </th>
            <th> Pet Sex </th>
            <th> Vaccinated? </th>
            <th> Pregnant? </th>
						<th> Status </th>
            <th> &nbsp; </th>
          </thead>
        <tbody>
          <% @appointments.each do |appointment| %>
            <tr id="appointment_<% appointment.id %>">
              <td>
                <%= check_box_tag "ids[]", appointment.id, false, :id => "appointment_checkbox_#{appointment.id}", :class => "appointment_check_box" %>
              </td>
              <td>
                <%= appointment.id %>
              </td>
              <td>
                <%= appointment.client_name_last_comma_first %>
              </td>
              <td>
                <%= formatted_phone(appointment.phone) %>
                <br />
                <%= formatted_phone(appointment.alternate_phone) %>
              </td>
              <td>
                <%= appointment.pet_name %>
              </td>
              <td>
                <%= appointment.pet_type.capitalize %>
              </td>
              <td>
                <%= appointment.gender.humanize %>
              </td>
              <td>
                <%= appointment.pet_vaccinated.to_s.humanize %>
              </td>
              <td>
                <%= appointment.pet_pregnant.to_s.humanize %>
              </td>
							<td>
								<%= appointment.status.upcase unless appointment.status.blank? %>
							</td>
              <td>
                <%= link_to 'Show', appointment %>
              </td>
            </tr>
          <% end %>
          <tr class="last">
            <td colspan="2">
              <%= submit_tag "Print Selected", :id => "print_submit" %>
            </td>
            <td colspan="8">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </form>
<%- end -%>
    <%= will_paginate @appointments %>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $(".date_picker").datepicker({ dateFormat: 'yy-mm-dd'});
	});
</script>
