<div class="request">
	<h1>Request an Appointment for your Pet</h1>
	<div class="errorExplanationContainer">
	  <% if @appointment.errors.any? %>
	    <ul>
		  <% @appointment.errors.full_messages.each do |msg| %>
		    <li class="error"><%= msg %></li>
		  <% end %>
	    </ul>
	  <% end %>
	</div>
	<%= form_for @appointment, :html => { :class => "bp" } do |f| %>
		<div class="user_info">
			<fieldset>
				<legend>Contact Information</legend>
				<p class="required">
					<%= f.label :first_name %><br />
					<%= f.text_field :first_name %>
				</p>
				<p class="required">
				  <%= f.label :last_name %><br />
				  <%= f.text_field :last_name %>
				</p>
				<p class="required">
				  <%= f.label :phone %><br />
				  <%= f.text_field :phone %><br />
					<span class="notes">e.g., (616) 555-5555</span>
				</p>
				<p class="required">
				  <%= f.label :best_time_to_contact_client, "What is the best time to contact you between 9am and 4pm?" %><br />
				  <%= f.text_field :best_time_to_contact_client %>
				</p>
				<p class="required">
				  <%= f.label :alternate_phone %><br />
				  <%= f.text_field :alternate_phone %><br />
					<span class="notes">e.g., (616) 555-5555</span>
				</p>
				<p class="required">
				  <%= f.label :email %><br />
				  <%= f.text_field :email %>
				</p>
			</fieldset>
		</div>
		<div class="address_container">
			<fieldset>
				<legend>Address</legend>
				<p class="required">
				  <%= f.label :street, "Street Address" %><br />
				  <%= f.text_field :street %>
				</p>
				<p class="required">
				  <%= f.label :city %><br />
				  <%= f.text_field :city %>
				</p>
				<p class="required">
				  <%= f.label :postal_code, "Zipcode" %><br />
				  <%= f.text_field :postal_code %>
				</p>
				<p class="required">
				  <%= f.label :county %><br />
				  <%= f.text_field :county %>
				</p>
			</fieldset>
		</div>
		<div class="pet_information clear">
			<fieldset>
				<legend>Basic Pet Information</legend>
				<p class="required">
				  <%= f.label :pet_name %><br />
				  <%= f.text_field :pet_name %>
				</p>
				<p class="required">
				  <%= label_tag "Your pet is a" %><br />
				  <%= f.radio_button :pet_type, :dog %>
					<%= f.label :pet_type, "Dog", :value => :dog %><br />
					<%= f.radio_button :pet_type, :cat %>
					<%= f.label :pet_type, "Cat", :value => :cat %>
				</p>
				<p class="required">
				  <%= f.label :gender %><br />
				  <%= f.text_field :gender %>
				</p>
				<p class="required">
				  <%= f.label :age %><br />
				  <%= f.text_field :age %><br />
					<span class="notes">e.g., 8 years, about 2 months</span>
				</p>
				<p class="dog_only">
				  <%= f.label :weight %><br />
				  <%= f.text_field :weight %><br />
					<span class="notes">An approximate is fine</span>
				</p>
				<p class="required">
				  <%= f.label :date_of_birth %><br />
				  <%= f.text_field :date_of_birth %>
				</p>
				<p class="dog_only">
				  <%= f.label :breed %><br />
				  <%= f.text_field :breed %>
				</p>
				<p class="required">
				  <%= f.label :color %><br />
				  <%= f.text_field :color %>
				</p>
				<p class="required">
				  <%= f.check_box :want_chip_implant %><br />
					<%= f.label :want_chip_implant, "Would you like a chip implant?" %>
				</p>
				<p class="required">
				  <%= f.text_field :want_rabies_vaccination %><br />
					<%= f.label :want_rabies_vaccination, "If your pet is 16 weeks or older would you like a rabies vaccination?" %>
				</p>
				<p class="required">
				  <%= f.label :comments, "Please list any other information you have:" %><br />
				  <%= f.text_area :comments %>
				</p>
			</fieldset>
		</div>
		<div class="pet_history">
			<fieldset>
				<legend>Pet History</legend>
				<p class="required">
				  <%= f.label :acquired_from_type %><br />
				  <%= f.radio_button :acquired_from_type, :stray %>
					<%= f.radio_button :acquired_from_type, :adopted %>
					<%= f.radio_button :acquired_from_type, :friend %>
					<%= f.radio_button :acquired_from_type, :breeder %>
					<%= f.radio_button :acquired_from_type, :other %>
					<span style="margin-left: 20px">
						<%= f.text_field :acquired_from_other_description %>
					</span>
				</p>
				<p class="required">
				  <%= f.label :owned_for, "How long have you owned your pet?" %><br />
				  <%= f.text_field :owned_for %><br />
					<span class="notes">e.g., 1 year, about 18 months</span>
				</p>
				<p class="required">
				  <%= f.label :pet_vaccinated, "Has your pet been vaccinated?" %><br />
				  <%= f.radio_button :pet_vaccinated, :yes %>
					<%= f.radio_button :pet_vaccinated, :no %>
					<%= f.radio_button :pet_vaccinated, :not_sure %>
				</p>
				<p class="required">
				  <%= f.label :vet_name, "Veterinarian's Name" %><br />
				  <%= f.text_field :vet_name %>
				</p>
				<p class="required">
				  <%= f.label :surgeries_explanation, "Any previous surgery? If so, please explain:" %><br />
				  <%= f.text_area :surgeries_explanation %>
				  * Please let us know if your pet is declawed.
				</p>
				<p class="required">
				  <%= f.label :health_concerns_explanation, "Any health issues? If so, please explain:" %><br />
				  <%= f.text_area :health_concerns_explanation %>
				</p>
				<p class="required">
				  <%= f.label :medications_explanation, "Any medications? If so, please explain:" %><br />
				  <%= f.text_field :medications_explanation %>
				</p>
				<p class="required">
				  <%= f.label :pet_in_heat, "Is your pet in heat?" %><br />
				  <%= f.radio_button :pet_in_heat, :yes %>
					<%= f.radio_button :pet_in_heat, :no %>
					<%= f.radio_button :pet_in_heat, :not_sure %>
				</p>
				<p class="required">
				  <%= f.label :pet_pregnant, "Is your pet pregnant?" %><br />
				  <%= f.radio_button :pet_pregnant, :yes %>
					<%= f.radio_button :pet_pregnant, :no %>
					<%= f.radio_button :pet_pregnant, :not_sure %>
				</p>
				<p class="required">
				  <%= f.label :had_litter_when, "Has your pet had a litter? If so, when?" %><br />
				  <%= f.text_field :had_litter_when %>
				</p>
				<p class="required">
				  <%= f.label :pet_testicles_decended, "Has your male pet's testicles decended?" %><br />
				  <%= f.radio_button :pet_testicles_descended, :yes %>
				  <%= f.radio_button :pet_testicles_descended, :no %>
				  <%= f.radio_button :pet_testicles_descended, :not_sure %>
				</p>
				<p class="required">
				  <%= f.label :testicle_count, "If so, how many?" %><br />
				  <%= f.radio_button :testicle_count, 1 %>
					<%= f.radio_button :testicle_count, 2 %>
				</p>
			</fieldset>
		</div>
		<div class="finished">
			<fieldset>
				<%= f.submit "I'm Done, send the request to C-SNIP" %>
			</fieldset>
		</div>
	<% end %>
</div>
