<div class="request">
	<h1>Request an Appointment for your Pet</h1>
	<div class="errorExplanationContainer">
	  <% if @appointment.errors.any? %>
	    <h2><%= pluralize(@appointment.errors.count, "error") %> need to fixed before this appointment is submitted:</h2>
	    <ul>
		  <% @appointment.errors.full_messages.each do |msg| %>
		    <li class="error"><%= msg %></li>
		  <% end %>
	    </ul>
	  <% end %>
	</div>
</div>
	<%= form_for @appointment, :html => { :class => "bp" } do |f| %>
	<div class="user_info">
		<fieldset>
			<legend>Contact Information</legend>
			<p class="required">
				<%= f.label :first_name %><br />
				<%= f.text_field :first_name %>
			</p>
			<p class="required">
			  <%= f.label :last_name %><br />
			  <%= f.text_field :last_name %>
			</p>
			<p class="required">
			  <%= f.label :phone %><br />
			  <%= f.text_field :phone %><br />
			  <span class="notes">e.g., (616) 555-5555</span>
			</p>
			<p class="required">
			  <%= f.label :best_time_to_contact_client, "What is the best time to contact you between 9am and 4pm?" %><br />
			  <%= f.text_field :best_time_to_contact_client %>
			</p>
			<p>
			  <%= f.label :alternate_phone %><br />
			  <%= f.text_field :alternate_phone %><br />
			  <span class="notes">e.g., (616) 555-5555</span>
			</p>
			<p>
			  <%= f.label :email %><br />
			  <%= f.text_field :email %><br />
			  <span class="notes">Please provide an email address for updates on this request.</span>
			</p>
			<p>
			  <%= f.label :request_date, "On which day would you like to schedule your appointment?" %><br />
			  <%= f.text_field :request_date %><br />
			  <span class="notes">Check in time is 8-8:30 a.m. for everyone.</span><br />
				<span class="notes">If the appointment is for your dog, you will need to pick him/her up at 4 p.m. the <u>SAME</u> day as surgery.</span><br />
				<span class="notes">If the appointment for your cat, he/she will spend the night after surgery. You will need to pick your cat up the <u>NEXT</u> morning at 7:30 a.m.</span>
			</p>
		</fieldset>
	</div>
	<div class="address_container">
		<fieldset>
			<legend>Address</legend>
			<p class="required">
			  <%= f.label :street, "Street Address" %><br />
			  <%= f.text_field :street %>
			</p>
			<p class="required">
			  <%= f.label :city %><br />
			  <%= f.text_field :city %>
			</p>
			<p class="required">
			  <%= f.label :postal_code, "Zipcode" %><br />
			  <%= f.text_field :postal_code %>
			</p>
			<p class="required">
			  <%= f.label :county %><br />
			  <%= f.text_field :county %>
			</p>
		</fieldset>
	</div>
	<div class="pet_information clear">
		<fieldset>
			<legend>Basic Pet Information</legend>
			<p class="required">
			  <%= f.label :pet_name %><br />
			  <%= f.text_field :pet_name %>
			</p>
			<p class="required">
			  <%= f.label :pet_type, "Your pet is a" %>
			  <%= f.select :pet_type, [['(please select)', nil], ['Dog', :dog], ['Cat', :cat]] %>
			</p>
		   <p class="required">
			  <%= f.label :gender %>
			  <%= f.select :gender, [['(please select)', nil], ['Male', :male], ['Female', :female], ['Not sure', :not_sure]] %>
			</p>
			<p class="dog_only">
			  <%= f.label :weight, "Approximate weight" %><br />
			  <%= f.text_field :weight %><br />
			</p>
			<p class="required">
			  <%= f.label :breed %><br />
			  <%= f.text_field :breed %><br />
			  <span class="notes cat_only">e.g., short hair, medium hair, long hair.</span>
			</p>
			<p>
			  <%= f.label :color %><br />
			  <%= f.text_field :color %>
			</p>
			<p>
			  <%= f.check_box :want_chip_implant %>
			  <%= f.label :want_chip_implant, "Would you like a chip implant?" %>
			</p>
			<p class="required">
			  <%= f.label :date_of_birth, "Approximate date of birth" %><br />
			  <%= f.date_select :date_of_birth, {:order => [:month, :day, :year], :end_year => Time.now.year - 30, :start_year => Time.now.year} %>
			</p>
			<p>
			  <%= f.check_box :want_rabies_vaccination %>
			  <%= f.label :want_rabies_vaccination, "If your pet is 16 weeks or older would you like a rabies vaccination?" %>
			</p>
			<p>
			  <%= f.label :comments, "Please list any other information you have:" %><br />
			  <%= f.text_area :comments, :size => "48x5" %>
			</p>
		</fieldset>
	</div>
	<div class="pet_history">
		<fieldset>
			<legend>Pet History</legend>
			<p>
			  <%= f.label :acquired_from_type %>
			  <%= f.select :acquired_from_type, [['(please select)', nil], ['Stray', :stray], ['Adopted', :adopted], ['Friend', :friend], ['Breeder', :breeder], ['Other', :other]] %>
			</p>
			<p class="optional_description">
			  <%= f.label :acquired_from_other_description, "Where did you acquire your pet from?" %>
			  <%= f.text_field :acquired_from_other_description %>
			</p>
			<p>
			  <%= f.label :owned_for, "How long have you owned your pet?" %><br />
			  <%= f.text_field :owned_for %><br />
			  <span class="notes">e.g., 1 year, about 18 months</span>
			</p>
			<p>
			  <%= f.label :where_pet_lives, "Where does your pet live?" %>
			  <%= f.select :where_pet_lives, [['(please select)', nil], ['Inside', :inside], ['Outside', :outside], ['Both', :both]] %>
			</p>
			<p>
			  <%= f.check_box :is_pet_tame %>
			  <%= f.label :is_pet_tame, "Is your outdoor pet tame or friendly?" %>
			</p>
			<p>
			  <%= f.label :pet_vaccinated, "Has your pet been vaccinated?" %>
			  <%= f.select :pet_vaccinated, [['(please select)', nil], ['Yes, self administered', :yes_self], 
			  								['Yes, at a veterinarian', :yes_vet], ['No', :no], ['Not sure', :not_sure]] %>
			</p>
			<p>
			  <%= f.check_box :has_pet_seen_vet %>
			  <%= f.label :has_pet_seen_vet, "Has your pet seen a veterinarian?" %>
			</p>
			<p class="vet_name">
			  <%= f.label :vet_name, "Veterinarian's Name" %><br />
			  <%= f.text_field :vet_name %>
			</p>
			<p>
			  <%= f.label :surgeries_explanation, "Any previous surgery, including declawing? If so, please explain:" %><br />
			  <%= f.text_area :surgeries_explanation, :size => "48x5"  %><br />
			</p>
			<p>
			  <%= f.label :health_concerns_explanation, "Any health issues? If so, please explain:" %><br />
			  <%= f.text_area :health_concerns_explanation, :size => "48x5"  %>
			</p>
			<p>
			  <%= f.label :medications_explanation, "Any medications? If so, please explain:" %><br />
			  <%= f.text_area :medications_explanation, :size => "48x5" %>
			</p>
			<p class="female_only">
			  <%= f.label :pet_in_heat, "Is your pet in heat?" %>
			  <%= f.select :pet_in_heat, [['(please select)', nil], ['Yes', :yes], ['No', :no], ['Not sure', :not_sure]] %>
			</p>
			<p class="female_only">
			  <%= f.label :pet_pregnant, "Is your pet pregnant?" %>
			  <%= f.select :pet_pregnant, [['(please select)', nil], ['Yes', :yes], ['No', :no], ['Not sure', :not_sure]] %>
			</p>
			<p class="female_only">
				<%= f.label :has_had_litter, "If a 6 months or older female has she had any litters?" %>
				<%= f.select :has_had_litter, [['(please select)', nil], ['Yes', :yes], ['No', :no], ['Not sure', :not_sure]] %>
			</p>
			<p class="female_only">
			  <%= f.label :had_litter_when, "Approximately when was the most recent litter?" %><br />
			  <%= f.text_field :had_litter_when %><br />
			  <span class="notes">e.g., 1 year, about 6 months</span>
			</p>
			<p class="male_only required">
			  <%= f.label :pet_testicles_descended, "Has your male pet's testicles descended?" %>
			  <%= f.select :pet_testicles_descended, [['(please select)', nil], ['Yes', :yes], ['No', :no], ['Not sure', :not_sure]] %>
			</p>
			<p class="male_only">
			  <%= f.label :testicle_count, "If so, how many?" %>
			  <%= f.select :testicle_count, [['(please select)', nil], ['1 - One', 1], ['2 - Two', 2]] %>
			</p>
		</fieldset>
	</div>
	<div class="finished">
		<fieldset>
			<%= f.submit "I'm Done, send my request to C-SNIP!" %>
		</fieldset>
	</div>
<% end %>
<script type="text/javascript">
  $(function() {
    $("#appointment_phone").mask("(999) 999-9999");
    $("#appointment_alternate_phone").mask("(999) 999-9999");
    $("#appointment_date_of_birth").mask("99-99-9999");
    $("#appointment_request_date").datepicker({
			dateFormat: 'yy-mm-dd', 
			minDate: 0,
			beforeShowDay: noWeekendsOrFridays
		});
    
    $('#appointment_gender').change(function() {
      if($(this).val() == "male") {
		$(".female_only").hide();
		$(".male_only").show();
      } else if ($(this).val() == "female") {
        $(".male_only").hide();
        $(".female_only").show();
      }
      else {
        $(".female_only").hide();
        $(".male_only").hide();
      }
    }).change();
    
    $('#appointment_pet_type').change(function() {
      if($(this).val() == "cat") {
		$(".dog_only").hide();
		$(".cat_only").show();
      } else if ($(this).val() == "dog") {
		$(".cat_only").hide();
		$(".dog_only").show();
      } else {
		$(".dog_only").hide();
		$(".cat_only").hide();
      }
    }).change();
    
    $('#appointment_has_pet_seen_vet').change(function() {
      if($(this).is(':checked')) {
        $(".vet_name").show();
      } else {
        $(".vet_name").hide();
      }
    }).change();

   $('#appointment_acquired_from_type').change(function() {
     if($(this).val() == "other") {
	   $('.optional_description').show();
     } else {
	   $('.optional_description').hide();
     }
   }).change();

		function noWeekendsOrFridays(date){
			var day = date.getDay();
			if (day == 0 || day == 5 || day == 6){
				return [false];
			} else {
				return [true];
			}
		}

  });
</script>