<%= render @appointment %>
<div class="appointment_buttons">
	<%- unless @appointment.status.blank? -%>
	<%- if @appointment.status.upcase == "PENDING" -%>
		<%= form_tag approve_appointment_path(@appointment) %>
			<%= submit_tag 'Approve' %>
		</form>
		<%= form_tag deny_appointment_path(@appointment) %>
			<%= submit_tag 'Deny' %>
		</form>
	<%- end -%>
	<%- end -%>
</div>
