<div class="errorExplanationContainer">
  <% if @appointment.errors.any? %>
    <h2><%= pluralize(@appointment.errors.count, "error") %> encountered while saving:</h2>
    <ul>
	  <% @appointment.errors.full_messages.each do |msg| %>
	    <li class="error"><%= msg %></li>
	  <% end %>
    </ul>
  <% end %>
</div>
<%= render @appointment %>
<div class="appointment_buttons">
	<%- unless @appointment.status.blank? -%>
	<%- if @appointment.status.upcase == "PENDING" -%>
		<%= form_tag approve_appointment_path(@appointment) %>
			<%= submit_tag 'Approve' %>
		</form>
		<%= form_tag deny_appointment_path(@appointment) %>
			<%= submit_tag 'Deny' %>
		</form>
	<%- end -%>
	<%- end -%>
</div>
