<!DOCTYPE html>
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8"></meta>
		<title>C-SNIP :: Administration</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
	</head>
	<body class="bp admin">
		<div id="container">
			<div id="bar"><%= link_to '<< Back to Site', 'http://csnip.org' %></div>
			<div id="header">
				<%= image_tag('logo.png', :style => 'float: left;') %>
				<h1>Administration</h1>
			</div>
			
		    <% if flash[:notice] %>
		      <p style="color:green"><%= flash[:notice] %></p>
		    <% end %>

		    <% if flash[:error] %>
		      <p style="color:red"><%= flash[:error] %></p>
		    <% end %>
		
		    <% if flash[:warning] %>
		      <p style="color:red"><%= flash[:warning] %></p>
		    <% end %>
		
			<%= yield %>
		</div>
	</body>
</html>